@model Item

<div class="container" id="itemholder" style="height: 70; width: 450px;">
    <div class="col-md-3">
        <img 
        src="@Model.imgPath" 
        id="@Model.Id" 
        class="itemImg img-thumbnail" 
        draggable="false"
        data-startingprice="@Model.cost" 
        rel="popover" >
        </img>
    </div>
    <div class="col-md-7"> 
        <h5 class="media-heading"><b>@Model.Id </b></h5>
        <p>@Model.description <br> Price: @Model.cost <br> Gains per second: @Model.income</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <font size="5" style="vertical-align: middle;" >0</font>
    </div>
</div>